<header class="header-test">
  <!-- <div class="container">
    <nav>
      <div class="logo-test"><a href="/">Viilkatus</a></div>
    </nav>
  </div> -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar__wrap">
        <div class="hamb">
          <div class="logo-test"><a href="/">Viilkatus</a></div>
          <div class="hamb__field" id="hamb">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
        <!-- <a href="#" class="logo" id="logo">Logo</a> -->

        <ul class="menu" id="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Benefits</a></li>
          <li><a href="#">Prices</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="popup" id="popup"></div>
</header>
