.logo-test a {
  background: url(../images/viilkatus-logo.svg) no-repeat left top;
  background-size: contain;
  display: block;
  height: 43px;
  width: 133px;
  text-indent: -1000em;
  outline: 0;
}
