.header-test {
  border-bottom: 2px solid $accentColor;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // outline: 2px solid red;
}
// .logo-test a {
//   background: url(../images/viilkatus-logo.svg) no-repeat left top;
//   background-size: contain;
//   display: block;
//   height: 43px;
//   width: 133px;
//   text-indent: -1000em;
//   outline: 0;
// }

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.navbar {
  // position: fixed;
  // left: 0;
  // top: 0;
  width: 100%;
  height: 57px;
  background: $backgroundColor;
}

.navbar__wrap {
  // display: flex;
  // justify-content: space-between;
  height: 100%;
  display: flex;
  align-items: center;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

// .logo {
//   text-decoration: none;
//   color: #fff;
//   font-size: 20px;
//   font-weight: bold;
//   text-transform: uppercase;
//   display: flex;
//   align-items: center;
// }

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: red;
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}

//==========MOBILE MENU========//
@media (max-width: 787px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamb__field {
    //padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: $accentColor;
    transition: 0.2s;
  }

  .popup {
    position: fixed;

    width: 100%;
    height: 100%;
    background-color: $accentColor;
    z-index: 100;
    display: flex;
    //transition: 0.4s;

    right: -100%;
    top: -100%;
    transition: all 0.8s ease-in-out;
  }

  .popup.open {
    top: 58px;
    right: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    //padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
    border-bottom: 2px solid #c32020;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}
